/* line 1, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
* {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 7, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  width: 100%;
  min-height: 100vh; }

/* line 15, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
.header {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ccc;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  /* line 29, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  .header h1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: .03em;
    color: #333;
    margin: 0;
    padding: 1em 0 1em 0; }
    /* line 41, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
    .header h1 span {
      font-size: 1.3em; }
  /* line 45, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  .header div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: .03em;
    color: #333;
    text-decoration: none;
    margin: 0 0.03em 0 0.03em;
    padding: 2em 0 2em 0; }
  /* line 58, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  .header div:hover {
    text-shadow: 0px 0px 14px #969696;
    color: black;
    cursor: pointer; }

/* line 65, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
#resume-content {
  display: none;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Merriweather', serif;
  color: #333;
  letter-spacing: .01em;
  padding-bottom: 1em; }
  /* line 74, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  #resume-content .contact-info {
    text-align: center;
    margin-top: .9em;
    margin-left: auto;
    margin-right: auto; }
    /* line 79, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
    #resume-content .contact-info a {
      text-decoration: none;
      color: #333;
      font-family: 'Merriweather', serif;
      font-weight: 300; }
  /* line 86, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  #resume-content .mantra {
    text-align: center;
    margin-top: .6em;
    margin-left: auto;
    margin-right: auto; }
  /* line 92, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  #resume-content h2 {
    text-align: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.3em 0 0.3em 0em;
    -webkit-column-span: all;
    background-color: #ccc; }
  /* line 99, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  #resume-content div {
    margin: 0 1.3em 0 1.3em; }
    /* line 101, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
    #resume-content div span {
      font-size: 1.1em; }
    /* line 104, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
    #resume-content div ul {
      margin: 0;
      padding-left: 1.6em; }
    /* line 108, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
    #resume-content div ul ul {
      margin: 0;
      padding-left: 1em; }
  /* line 113, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  #resume-content .skills {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }

@media (max-width: 600px) {
  /* line 122, /Users/richardmkovachjr/Documents/rmkjr.github.io/style.scss */
  #resume-content .skills {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

/*# sourceMappingURL=style.css.map */